
  .stackedit__toc ul {
    padding: 0;
  }
  .stackedit__toc ul a {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
  }
  .stackedit__toc ul ul {
    color: #888;
    font-size: 0.9em;
  }
  .stackedit__toc ul ul a {
    margin: 0;
    padding: 0.1rem 1rem;
  }
  .stackedit__toc li {
    display: block;
  }
  .stackedit__toc a {
    display: block;
    color: inherit;
    text-decoration: none;
  }
  .stackedit__toc a:active,
  .stackedit__toc a:focus,
  .stackedit__toc a:hover {
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 3px;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .stackedit__left {
    grid-column: 1;
    grid-row: 1;
    display: none;
    width: 250px;
    top: 20px;
    left: 0;
    overflow: visible;
    z-index: 100;
  }
  @media (min-width: 1060px) {
    .stackedit__left {
      display: block;
    }
  }